@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/*changes to the whole body*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*padding and border are included in the width and height of an elemented*/
	text-decoration: none;
}




/*changes to the scroll behavior*/
html{
	scroll-behavior: smooth;
}




/*setting the max-width of the page*/
.max-width{
	max-width: 1910;
	padding: 0px 60px;
	margin:auto;
}




/*changes to the top navigation*/
.navbar{
	position: absolute;
	width: 100%;
	padding: 5px 0px;
	background: #f2f2f2;
	font-family: "Poppins";
}

.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	color: black;
	font-size: 15px;
	font-weight: 400;
}

.navbar .menu li{
	list-style: none;
	display: inline-block;
}

.navbar .menu li a{
	color:black;
	font-size: 15px;
	font-weight: 100;
	margin-left: 15px;
}

.navbar .max-width .logo img{
	width: auto;
	height: 30px;
}

.navbar .logo a{
	width: auto;
	height: 50%;
}

h3{
	color:black;
	font-size: 15px;
	font-weight: 100;
	margin-left: 10px;
}

.navbar .logo a:hover{
	opacity: 0.5;
}

.navbar .menu li a:hover{
	opacity: 0.5;
}









/*changes to the middle navigation & the dropdown menu*/
.Number1{
	z-index: -1;
	position: absolute;
	top: 48px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 100px;
	font-family: "Poppins";
	background-color: white;
	transition: 0.6s;
}

.Number1 .navigation{
	position: relative;
	line-height: 75px;
}

.Number1 .navigation .menu{
	position: relative;
	display: flex;
	justify-content: center;
	list-style: none;
	user-select: none;
}

.menu-item > a{
	color:black;
	font-size: 18px;
	text-decoration: none;
	margin:20px;
	padding: 25px 0;
}

.menu-item > a:hover{
	text-decoration:underline 2px black;
    text-underline-offset: 25px;
	transition: 0.3s;
}

.menu-item .sub-menu,
.menu-item .sub-menu2,
.menu-item .sub-menu3,
.menu-item .sub-menu4,
.menu-item .sub-menu5,
.menu-item .sub-menu6{
	box-shadow: 0px 285px 1000px grey;
	position: absolute;
	background: white;
	left: -589px;
	top:77px;
	width: 262%;
	justify-content: center;
	line-height: 30px;
	list-style: none;
	pointer-events: none;
	transform: translateY(-10px);
	opacity: 0;
}

.menu-item:hover .sub-menu,
.menu-item:hover .sub-menu2,
.menu-item:hover .sub-menu3,
.menu-item:hover .sub-menu4,
.menu-item:hover .sub-menu5,
.menu-item:hover .sub-menu6{
	pointer-events: all;
	transform: translateY(0);
	opacity: 1;
	padding: 30px 0px;
	transition: 0.3s;
}

.menu-item .sub-menu .sub-item,
.menu-item .sub-menu2 .sub-item,
.menu-item .sub-menu3 .sub-item,
.menu-item .sub-menu4 .sub-item,
.menu-item .sub-menu5 .sub-item,
.menu-item .sub-menu6 .sub-item{
	position: relative;
	padding: 1.5px 0px;
	cursor: pointer;
}

.menu-item .sub-menu .sub-item a,
.menu-item .sub-menu2 .sub-item a,
.menu-item .sub-menu3 .sub-item a,
.menu-item .sub-menu4 .sub-item a,
.menu-item .sub-menu5 .sub-item a,
.menu-item .sub-menu6 .sub-item a{
	color: black;
	font-size: 14px;
	text-decoration: none;
	padding: 15px 30px;
	opacity: 0.5;
}

.menu-item .sub-menu .sub-item a:hover,
.menu-item .sub-menu2 .sub-item a:hover,
.menu-item .sub-menu3 .sub-item a:hover,
.menu-item .sub-menu4 .sub-item a:hover,
.menu-item .sub-menu5 .sub-item a:hover,
.menu-item .sub-menu6 .sub-item a:hover{
	opacity: 1;
	transition: 0.3s;
}

.menu-item .sub-menu .heading,
.menu-item .sub-menu2 .heading,
.menu-item .sub-menu3 .heading,
.menu-item .sub-menu4 .heading,
.menu-item .sub-menu5 .heading,
.menu-item .sub-menu6 .heading{
	position: relative;
	padding: 7px 0;
	cursor: pointer;
}

.menu-item .sub-menu .sub-heading a,
.menu-item .sub-menu2 .sub-heading a,
.menu-item .sub-menu3 .sub-heading a,
.menu-item .sub-menu4 .sub-heading a,
.menu-item .sub-menu5 .sub-heading a,
.menu-item .sub-menu6 .sub-heading a{
	color: black;
	font-size: 16px;
	text-decoration: none;
	padding: 15px 30px;
}

.sub-menu,
.sub-menu4,
.sub-menu5,
.sub-menu6{
display:grid;
grid-template-columns: repeat(5, max-content);
gap: 20px;
}

.sub-menu2,
.sub-menu3{
display:grid;
grid-template-columns: repeat(4, max-content);
gap: 20px;
}

.item{
display:flex;
flex-direction:column;
gap: 0px;
}

.logo2 img{
	position: absolute;
	width: auto;
	height: 25px;
	left: 60px;
	top: 70px;
}

.logo2 a{
	width: auto;
	height: 100%;
}

.logo2 a:hover{
	opacity: 0.5;
}

.shopping-bag img{
	position: absolute;
	width: auto;
	height: 30px;
	right: 60px;
	top: 70px;
}

.shopping-bag a{
	width: auto;
	height: 100%;
}

.shopping-bag a:hover{
	opacity: 0.5;
}

.heart-nofill img{
	position: absolute;
	width: auto;
	height: 30px;
	right: 100px;
	top: 70px;
}

.heart-nofill a{
	width: auto;
	height: 100%;
	opacity: 0.75;
}

.heart-nofill a:hover{
	opacity: 0.3;
}

.search-container{
	position: absolute;
	z-index: 5;
	height: 30px;
	right: 140px;
	top: 62px;
}

.search-nofill img{
	position: absolute;
	opacity: 0.75;
	z-index: 6;
	width: auto;
	height: 25px;
	right: 300px;
	top: 75px;
}

.search-nofill a{
	width: auto;
	height: 100%;
}

input[type=text] {
  padding: 8px 50px;
  width: 200px;
  height:50px;
  font-size: 15px;
  border: 2px solid #f2f2f2;
  background: #f2f2f2;
  border-radius: 18px;
  opacity: 0.5;
}

.search-container input[type=text]:hover {
  opacity: 0.75;
}

/*changes to the bottom navbar*/
.navbar3{
	position: absolute;
	width: 100%;
	padding: 20px 0px;
	background: #f2f2f2;
	font-family: "Poppins";
	margin-top: 125px;
	z-index: -2;
	border-bottom: 1px solid #e0e0e0;
}

.navbar3 .max-width{
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar3 .menu3 .arrowright .arrowleft{
	list-style: none;
	display: inline-block;
}

.navbar3 .menu3 h3{
	color:black;
	font-size: 15px;
	font-weight: 100;
	margin-left: 25px;
}

.navbar3 .menu3 a span{
	text-decoration: underline;
	color:black;
}

.navbar3 .max-width .arrowright img{
	width: auto;
	height: 20px;
}

.navbar3 .arrowright{
	width: auto;
	height: 100%;
	padding-left: 40px;
	padding-top: 8px;
	opacity: 0.3;
}

.navbar3 .arrowright:hover{
	opacity: 0.5;
}

.navbar3 .max-width .arrowleft img{
	width: auto;
	height: 20px;
}

.navbar3 .arrowleft{
	width: auto;
	height: 100%;
	padding-right: 20px;
	padding-top: 8px;
	opacity: 0.3;
}

.navbar3 .arrowleft:hover{
	opacity: 0.5;
}









/*changes to the text on top of the bottom navbar*/
.overflow{
	position: absolute;
	width: auto;
	padding: 5px 0px;
	background: white;
	font-family: "Poppins";
	top: 215px;
	left: 60px;
	z-index: -3;
}

.overflow .menu2 li{
	list-style: none;
	display: inline-block;
}

.overflow .menu2 li a{
	color:black;
	top: 210px;
	padding-left: 0px;
	font-size: 15px;
	font-weight: 100;
	left: 60px;
}

.overflow .menu2 li a:hover{
	opacity: 0.5;
}




/*changes to the most bottom and sticky navbar*/
.navbar4{
font-family: "Poppins";
z-index: -4;
position: absolute;
top: 230px;
background-color:white;
width:100%;
}

.navbar4 .title{
float:left;
color:black;
font-size:23px;
font-weight:350;
line-height:70px;
padding-left:60px;
}

.navbar4 .menu01{
float:right;
list-style:none;
margin-right:40px;
position:relative;
}

.navbar4 .menu01 li{
float:left;
display:inline-block;
background:white;
margin:0 5px;
}

.navbar4 .menu01 li a{
color:black;
text-decoration:none;
line-height:70px;
font-size:18px;
padding: 0px 15px;
}

.navbar4 .menu01 .sub-menu01{
border-radius: 20px;
position:absolute;
top:70px;
left:50px;
transform: translateY(-10px);
opacity: 0;
visibility: hidden;
list-style: none;
}

.navbar4 .menu01 li:hover > .sub-menu01{
	transform: translateY(0px);
	opacity: 1;
	transition: 0.3s;
	visibility: visible;
}

.navbar4 .menu01 .sub-menu01 li a{
	line-height: 40px;
	float: right;
	opacity: 1;
}

.navbar4 .menu01 .sub-menu01 li a:hover{
	opacity: 0.5;
}

.navbar4 .menu01 .sub-menu01 li{
position:relative;
width: 180px;
display:block;

}

.navbar4.sticky{
	position: fixed;
	top:0px;
}

.sticky .title{
	font-size: 21px;
}




/*changes to the left menu filter overflow:auto box*/
.menu4.sticky2{
	position: fixed;
	top:75px;
	left: 60px;
	width: 220px;
    height: 90%;
}

.menu4{
    width: 220px;
    height: 630px;
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
	background: white;
	font-family: "Poppins";
	top: 310px;
	left: 60px;
	z-index: -5;
}

.menu-item4 > a{
	color:black;
	font-size: 16px;
	font-weight: 100;
	list-style: none;
	text-decoration: none;
	line-height: 30px;
}

.menu-item5{
	margin-top: 50px;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
}

.menu-item6{
	margin-top: 100px;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
}

.menu-item7{
	margin-top: 130px;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
}

.menu-item8{
	margin-top: 100px;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
}

.menu-item9{
	margin-top: 100px;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
}

.menu-item10{
	margin-top: 130px;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
}

.menu-item11{
	margin-top: 130px;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
}

.menu-item12{
	margin-top: 80px;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
}

.menu-item13{
	margin-top: 80px;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
}

.menu-item14{
	margin-top: 100px;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
}

.sub-menu5,
.sub-menu6,
.sub-menu7,
.sub-menu8,
.sub-menu9,
.sub-menu10,
.sub-menu11,
.sub-menu12,
.sub-menu13,
.sub-menu14{
	padding-top:15px;
}

.menu-item5 > a,
.menu-item6 > a,
.menu-item7 > a,
.menu-item8 > a,
.menu-item9 > a,
.menu-item10 > a,
.menu-item11 > a,
.menu-item12 > a,
.menu-item13 > a,
.menu-item14 > a{
	color:black;
	font-size: 16px;
	text-decoration: none;
	font-weight: 100;
	list-style: none;
}

.menu-item5 .sub-menu5,
.menu-item6 .sub-menu6,
.menu-item7 .sub-menu7,
.menu-item8 .sub-menu8,
.menu-item9 .sub-menu9,
.menu-item10 .sub-menu10,
.menu-item11 .sub-menu11,
.menu-item12 .sub-menu12,
.menu-item13 .sub-menu13,
.menu-item14 .sub-menu14{
	position: absolute;
	background: white;
	list-style: none;
}

.checkbox1,
.checkbox2,
.checkbox3,
.checkbox4,
.checkbox5,
.checkbox6,
.checkbox7,
.checkbox8,
.checkbox9,
.checkbox10,
.checkbox11,
.checkbox12,
.checkbox13,
.checkbox14,
.checkbox15,
.checkbox16,
.checkbox17,
.checkbox18,
.checkbox19,
.checkbox20,
.checkbox21,
.checkbox22,
.checkbox23,
.checkbox24,
.checkbox25,
.checkbox26,
.checkbox27,
.checkbox28,
.checkbox29,
.checkbox30,
.checkbox31{
	/*display:inline-flex;*/;
	display: flex;
	align-items: center;
	cursor: pointer;
}



.checkbox__input1,
.checkbox__input2,
.checkbox__input3,
.checkbox__input4,
.checkbox__input5,
.checkbox__input6,
.checkbox__input7,
.checkbox__input8,
.checkbox__input9,
.checkbox__input10,
.checkbox__input11,
.checkbox__input12,
.checkbox__input13,
.checkbox__input14,
.checkbox__input15,
.checkbox__input16,
.checkbox__input17,
.checkbox__input18,
.checkbox__input19,
.checkbox__input20,
.checkbox__input21,
.checkbox__input22,
.checkbox__input23,
.checkbox__input24,
.checkbox__input25,
.checkbox__input26,
.checkbox__input27,
.checkbox__input28,
.checkbox__input29,
.checkbox__input30,
.checkbox__input31{
	display: none;
}

.checkbox__box1,
.checkbox__box2,
.checkbox__box3,
.checkbox__box4,
.checkbox__box5,
.checkbox__box6,
.checkbox__box7,
.checkbox__box8,
.checkbox__box9,
.checkbox__box10,
.checkbox__box11,
.checkbox__box12,
.checkbox__box13,
.checkbox__box14,
.checkbox__box15,
.checkbox__box16,
.checkbox__box17,
.checkbox__box18,
.checkbox__box19,
.checkbox__box20,
.checkbox__box21,
.checkbox__box22,
.checkbox__box23,
.checkbox__box24,
.checkbox__box25,
.checkbox__box26,
.checkbox__box27,
.checkbox__box28,
.checkbox__box29,
.checkbox__box30,
.checkbox__box31{
	width:1.25em;
	height: 1.25em;
	border:2px solid #cccccc;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right:5px;
	flex-shrink: 0;
}

.checkbox__box1::after,
.checkbox__box2::after,
.checkbox__box3::after,
.checkbox__box4::after,
.checkbox__box5::after,
.checkbox__box6::after,
.checkbox__box7::after,
.checkbox__box8::after,
.checkbox__box9::after,
.checkbox__box10::after,
.checkbox__box11::after,
.checkbox__box12::after,
.checkbox__box13::after,
.checkbox__box14::after,
.checkbox__box15::after,
.checkbox__box16::after,
.checkbox__box17::after,
.checkbox__box18::after,
.checkbox__box19::after,
.checkbox__box20::after,
.checkbox__box21::after,
.checkbox__box22::after,
.checkbox__box23::after,
.checkbox__box24::after,
.checkbox__box25::after,
.checkbox__box26::after,
.checkbox__box27::after,
.checkbox__box28::after,
.checkbox__box29::after,
.checkbox__box30::after,
.checkbox__box31::after{
	content: '\2714';
	color:white;
}

.checkbox__input1:checked + .checkbox__box1,
.checkbox__input2:checked + .checkbox__box2,
.checkbox__input3:checked + .checkbox__box3,
.checkbox__input4:checked + .checkbox__box4,
.checkbox__input5:checked + .checkbox__box5,
.checkbox__input6:checked + .checkbox__box6,
.checkbox__input7:checked + .checkbox__box7,
.checkbox__input8:checked + .checkbox__box8,
.checkbox__input9:checked + .checkbox__box9,
.checkbox__input10:checked + .checkbox__box10,
.checkbox__input11:checked + .checkbox__box11,
.checkbox__input12:checked + .checkbox__box12,
.checkbox__input13:checked + .checkbox__box13,
.checkbox__input14:checked + .checkbox__box14,
.checkbox__input15:checked + .checkbox__box15,
.checkbox__input16:checked + .checkbox__box16,
.checkbox__input17:checked + .checkbox__box17,
.checkbox__input18:checked + .checkbox__box18,
.checkbox__input19:checked + .checkbox__box19,
.checkbox__input20:checked + .checkbox__box20,
.checkbox__input21:checked + .checkbox__box21,
.checkbox__input22:checked + .checkbox__box22,
.checkbox__input23:checked + .checkbox__box23,
.checkbox__input24:checked + .checkbox__box24,
.checkbox__input25:checked + .checkbox__box25,
.checkbox__input26:checked + .checkbox__box26,
.checkbox__input27:checked + .checkbox__box27,
.checkbox__input28:checked + .checkbox__box28,
.checkbox__input29:checked + .checkbox__box29,
.checkbox__input30:checked + .checkbox__box30,
.checkbox__input31:checked + .checkbox__box31{
	background: black;
	border-color: black;
}









/*changes to the actual images and their description*/
.image1{
	position: absolute;
	height: 625px;
	width: 415px;
	left: 340px;
	top:300px;
	z-index: -5;
}

.image2{
	position: absolute;
	height: 625px;
	width: 415px;
	left: 850px;
	top:300px;
	z-index: -5;
}

.image3{
	position: absolute;
	height: 625px;
	width: 350px;
	left: 1370px;
	top:300px;
	z-index: -5;
}

.image4-5{
	position: absolute;
	height: 625px;
	width: 415px;
	left: 340px;
	top:1000px;
	z-index: -5;
}

.img5,
.img7,
.img8{
	opacity: 0;
}

.description01{
	position: absolute;
	height: 45px;
	width: 45px;
	left: 0px;
	top:490px;
	transform: translateY(-10px);
	opacity: 0;
	z-index: -5;
}

.description02{
	position: absolute;
	height: 45px;
	width: 45px;
	left: 50px;
	top:490px;
	transform: translateY(-10px);
	opacity: 0;
	z-index: -5;
}

.description001{
	position: absolute;
	height: 45px;
	width: 45px;
	left: 0px;
	top:490px;
	transform: translateY(-10px);
	opacity: 0;
	z-index: -5;
}

.description002{
	position: absolute;
	height: 45px;
	width: 45px;
	left: 50px;
	top:490px;
	transform: translateY(-10px);
	opacity: 0;
	z-index: -5;
}

.description003{
	position: absolute;
	height: 45px;
	width: 45px;
	left: 100px;
	top:490px;
	transform: translateY(-10px);
	opacity: 0;
	z-index: -5;
}

.img4-1,
.img5-1,
.img6-1,
.img7-1,
.img8-1{
	height: 45px;
	width: auto;
	position: absolute;
}

.image4-5:hover .title1,
.image4-5:hover .description2{
	opacity: 0;
}

.image4-5:hover .description3{
	transform: translateY(-25px);
	transition: 0.3s;
}

.image4-5:hover .description{
	transform: translateY(60px);
	transition: 0.3s;
}

.image4-5:hover .description01,
.image4-5:hover .description02{
	transform: translateY(0px);
	opacity: 1;
	transition: 0.3s;
}

.image6-8{
	position: absolute;
	height: 625px;
	width: 415px;
	left: 860px;
	top:1000px;
	z-index: -5;
}

.image6-8:hover .title1,
.image6-8:hover .description2{
	opacity: 0;
}

.image6-8:hover .description3{
	transform: translateY(-25px);
	transition: 0.3s;
}

.image6-8:hover .description{
	transform: translateY(60px);
	transition: 0.3s;
}

.image6-8:hover .description001,
.image6-8:hover .description002,
.image6-8:hover .description003{
	transform: translateY(0px);
	opacity: 1;
	transition: 0.3s;
}

.image9{
	position: absolute;
	height: 625px;
	width: 350px;
	left: 1370px;
	top:1000px;
	z-index: -5;
}

.image1 > a,
.image2 > a,
.image3 > a,
.image4-5 > a,
.image6-8 > a,
.image9 > a{
	color: black;
	text-decoration: none;
	font-family: 'Poppins';
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9{
	height: 480px;
	width: auto;
	position: absolute;
}

.title1{
	font-size: 18px;
	top:517px;
	position: absolute;
	left: 0px;
    
}

.description{
	font-size: 16px;
	top:490px;
	color:red;
	position: absolute;
	left: 0px;
}

.description2{
	font-size: 16px;
	top:542px;
	opacity: 50%;
	position: absolute;
	left: 0px;
}

.description3{
	font-size: 17px;
	top:600px;
	position: absolute;
	left: 0px;
}









/*changes to the footer of the site*/
footer{
font-family: "Poppins";
position:absolute;
background:black;
width:100%;
top: 1700px;
left:0;
}
footer .content{
max-width:1500px;
margin:auto;
padding:30px 40px 40px 40px;
}
footer .content .link-boxes{
width:100%;
display:flex;
justify-content:space-between;
}
footer .content .link-boxes .box{
width:calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
color:#fff;
font-size:13px;
font-weight:500;
margin-bottom:10px;
position:relative;
}
.content .link-boxes .box li{
margin:6px 0;
list-style:none;
}
.content .link-boxes .box li a{
text-decoration:none;
color:#fff;
font-size:12px;
opacity:0.5;
transition:all 0.3s ease;
}
.content .link-boxes .box li a:hover{
opacity:1;
}
.top2 .media-icons2{
display:flex;
}
.top2 .media-icons2 a{
width:30px;
height:30px;
background:darkgrey;
margin:0 8px;
border-radius:50%;
text-align:center;
line-height:30px;
color:black;
font-size:20px;
text-decoration:none;
transition: all 0.3s ease;
}
.top2 .media-icons2 a:hover{
background:#f2f2f2;
}
footer .bottom-details{
width:100%;
background:black;
}
footer .bottom-details .bottom_text{
max-width:1500px;
margin:auto;
padding:20px 40px;
display:flex;
justify-content:space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
font-size:12px;
color:#fff;
text-decoration:none;
opacity:0.5;
transition: all 0.3s ease;
}
.bottom-details .bottom_text .copyright_text > a{
	opacity: 1;
	font-size: 13px;
}
.bottom-details .bottom_text a:hover{
opacity:1;
}
.bottom-details .bottom_text a{
margin-right:10px;
}









/*making the middle navigation dropdown menu responsive*/
@media (max-width: 1900px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -585px;
		width: 260%;
	}
}

@media (max-width: 1880px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -581px;
		width: 258%;
	}
}

@media (max-width: 1860px){
    .menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -574px;
		width: 256%;
	}
}

@media (max-width: 1845px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -568px;
		width: 254%;
	}
}

@media (max-width: 1827px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -554px;
		width: 250%;
	}
}

@media (max-width: 1810px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -558px;
		width: 250%;
	}
}

@media (max-width: 1790px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -552px;
		width: 248%;
	}
}

@media (max-width: 1770px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -546px;
		width: 246%;
	}
}

@media (max-width: 1759px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -522px;
		width: 242%;
	}
}

@media (max-width: 1747px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -522px;
		width: 241%;
	}
}

@media (max-width: 1731px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -510px;
		width: 238%;
	}
}

@media (max-width: 1717px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -505px;
		width: 236%;
	}
}

@media (max-width: 1700px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -500px;
		width: 234%;
	}
}

@media (max-width: 1675px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -480px;
		width: 230%;
	}
}

@media (max-width: 1655px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -475px;
		width: 228%;
	}
}

@media (max-width: 1637px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -455px;
		width: 224%;
	}
}

@media (max-width: 1619px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -450px;
		width: 222%;
	}
}

@media (max-width: 1599px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -440px;
		width: 219%;
	}
}

@media (max-width: 1575px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -430px;
		width: 216%;
	}
}

@media (max-width: 1565px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -415px;
		width: 213%;
	}
}

@media (max-width: 1538px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -408px;
		width: 210%;
	}
}

@media (max-width: 1508px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -400px;
		width: 207%;
	}
}

@media (max-width: 1480px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -385px;
		width: 204%;
	}
}

@media (max-width: 1458px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -375px;
		width: 201%;
	}
}

@media (max-width: 1446px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -420px;
		width: 243%;
	}
}

@media (max-width: 1424px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -430px;
		width: 243%;
	}
}

@media (max-width: 1412px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -405px;
		width: 238%;
	}
}

@media (max-width: 1412px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -410px;
		width: 238%;
	}
}

@media (max-width: 1386px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -395px;
		width: 234%;
	}
}

@media (max-width: 1370px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -380px;
		width: 230%;
	}
}

@media (max-width: 1351px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -375px;
		width: 227%;
	}
}

@media (max-width: 1327px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -363px;
		width: 223%;
	}
}

@media (max-width: 1320px){
	.menu-item .Discount{
		position: fixed;
		opacity:0;
		pointer-events: none;
	}
	.sub-menu,
	.sub-menu2,
	.sub-menu3,
	.sub-menu4{
    gap: 15px;
    }
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -435px;
		width: 303%;
	}
}

@media (max-width: 1298px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -423px;
		width: 298%;
	}
}

@media (max-width: 1278px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -430px;
		width: 297%;
	}
}

@media (max-width: 1254px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -407px;
		width: 289%;
	}
	.sub-menu,
	.sub-menu2,
	.sub-menu3,
	.sub-menu4{
    gap: 10px;
    }
}

@media (max-width: 1234px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -400px;
		width: 286%;
	}
}

@media (max-width: 1222px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -393px;
		width: 283%;
	}
}

@media (max-width: 1210px){
	.menu-item .sub-menu,
	.menu-item .sub-menu2,
	.menu-item .sub-menu3,
	.menu-item .sub-menu4,
	.menu-item .sub-menu5,
	.menu-item .sub-menu6{
		left: -385px;
		width: 279%;
	}
	.sub-menu,
	.sub-menu2,
	.sub-menu3,
	.sub-menu4{
    gap: 0px;
    }
}
