@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/*changes to the whole body*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*padding and border are included in the width and height of an elemented*/
	text-decoration: none;
}




/*changes to the scroll behavior*/
html{
	scroll-behavior: smooth;
}




/*setting the max-width of the page*/
.max-width{
	max-width: 1910;
	padding: 0px 60px;
	margin:auto;
}




/*changes to the top navigation*/
.navbar{
	position: absolute;
	width: 100%;
	padding: 5px 0px;
	background: #f2f2f2;
	font-family: "Poppins";
}

.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	color: black;
	font-size: 15px;
	font-weight: 400;
}

.navbar .menu li{
	list-style: none;
	display: inline-block;
}

.navbar .menu li a{
	color:black;
	font-size: 15px;
	font-weight: 100;
	margin-left: 15px;
}

.navbar .max-width .logo img{
	width: auto;
	height: 30px;
}

.navbar .logo a{
	width: auto;
	height: 50%;
}

h3{
	color:black;
	font-size: 15px;
	font-weight: 100;
	margin-left: 10px;
}

.navbar .logo a:hover{
	opacity: 0.5;
}

.navbar .menu li a:hover{
	opacity: 0.5;
}




